.app-nav {
  padding: 1em 0;
}

.beta {
  bottom: 0.6em;
  font-size: 0.8em;
  position: absolute;
  right: 0;
}

.logo {
  position: relative;
  width: 10.3em;
}

.logotype {
  font-size: 2em;
  margin: 0;
}
