doctype html
html.no-js(lang='en')
  include ../modules/_head.jade
  body.pages-topics
    include ../modules/_nav.jade
    section.main-content
      .usa-grid
        header
          h1 Topics
          p Explore topics related to income distribution.
        .col-lg
          ul.topics
            li.topic
              a(href="/topics/gender")
                .container
                  h2
                    | Where’s Gender Equality the best in the US?
                  p.description
                    | Explore the pay gap between men and women.
                .launch
                  i.fa.fa-arrow-right
          ul.coming-soon-topics
            h3 Coming Soon
            li.topic.coming-soon
              .container
                h2
                  | Where’s Racial Equality the best in the US?
                p.description
                  | Explore the pay gap between race and ethnicity.
            li.topic.coming-soon
              .container
                h2
                  | How has Income Distribution changed over time?
                p.description
                  | Explore the changes in pay gap and learn about the Gini.
            li.topic.coming-soon
              .container
                h2
                  | Where do millennial’s make the most money?
                p.description
                  | Explore the pay gap between age groups.
            li.topic.coming-soon
              .container
                h2
                  | How has income changed in my city?
                p.description
                  | Explore changes from 2009 to 2015.
            li.topic.coming-soon
              .container
                h2
                  | What are the pay ranges of different professions?
                p.description
                  | Learn more about jobs in America.
