doctype html
html.no-js(lang='en')
  include ../modules/_head.jade
  body.pages-topics
    include ../modules/_nav.jade
    section.main-content
      .usa-grid
        header
          h1 Topics
          p Explore topics related to income distribution.
        .col-lg
          ul.topics
            li.topic
              a(href="/topics/gender")
                .container
                  h2
                    | Where’s Gender Equality the Most Equal in the US?
                  p.description
                    | Explore the pay gap between men and women.
                .launch
                  i.fa.fa-arrow-right
          ul.coming-soon-topics
            h3 Coming Soon
            li.topic.coming-soon
              .container
                h2
                  | Where’s Racial Equality the Most Equal in the US?
                p.description
                  | Explore the pay gap between race and ethnicity.
            li.topic.coming-soon
              .container
                h2
                  | How Has Income Distribution Changed Over time?
                p.description
                  | Explore the changes in pay gap and learn about the Gini.
            li.topic.coming-soon
              .container
                h2
                  | Where Do Millennial’s Make the Most Money?
                p.description
                  | Explore the pay gap between age groups.
            li.topic.coming-soon
              .container
                h2
                  | How Has Income Changed in My City?
                p.description
                  | Explore changes from 2009 to 2015.
            li.topic.coming-soon
              .container
                h2
                  | What Are the Pay Ranges of Different Professions?
                p.description
                  | Learn more about jobs in America.
    include ../modules/_footer.jade
