#loading-icon.loading-icon.active
  img(src="/assets/img/loading-ring.svg")
#chart-error.chart-error
  .error-icon
    i.fa.fa-exclamation-triangle
  .error-message
    p#error-message
      | Something went wrong... Try again in a few seconds.
