footer.app-footer
  .usa-grid
    .col
      .commerce-footer
        h2 Commerce Links
        ul.commerce-links
          li
            a(href='http://www.osec.doc.gov/ofm/OFM_Publications.html') Agency Financial Report
          li
            a(href='http://www.commerce.gov/page/comment-policy') Comment Policy
          li
            a(href='http://www.commerce.gov/page/commerce-archive') Commerce Archive
          li
            a(href='http://www.osec.doc.gov/ocr/EEOPolicy.html') EEO Policy
          li
            a(href='http://www.osec.doc.gov/omo/FOIA/FOIAWEBSITE.htm') FOIA
          li
            a(href='http://www.usa.gov/gobiernousa/') GobiernoUSA.gov
          li
            a(href='http://www.osec.doc.gov/ofm/Improper_Payments.html') Improper Payments
          li
            a(href='http://ocio.os.doc.gov/ITPolicyandPrograms/Information_Quality/index.htm') Information Quality
        ul.commerce-links
          li
            a(href='http://www.oig.doc.gov/') Inspector General
          li
            a(href='http://www.osec.doc.gov/ocr/nofear/nofear.htm') No FEAR Act
          li
            a(href='http://www.commerce.gov/page/department-commerce-plain-language') Plain Language
          li
            a(href='http://www.commerce.gov/page/privacy-policy') Privacy Policy
          li
            a(href='http://www.usa.gov/') USA.gov
          li
            a(href='http://www.oig.doc.gov/Pages/Hotline.aspx') Whistleblower Protection
          li
            a(href='http://www.whitehouse.gov/') WhiteHouse.gov
    .footer-info.col
      .app-logo
        h1 MIDAAS
      .links
        a(href="https://github.com/CommerceDataService/midaas-website")
          i.fa.fa-github
          | GitHub
      .footer-logos-container
        ul.footer-logos
          li.gsa
            a(href="https://gsa.gov")
              img(alt="General Services Adminstration Logo" src="/assets/img/logos/gsa.png")
          li.pif
            a(href="https://presidentialinnovationfellows.gov")
              img(alt="Presidential Innovation Fellows Logo" src="/assets/img/logos/pif.png")
          li.commerce
            a(href="https://www.commerce.gov/")
              img(alt="Deptartment of Commerce Logo" src="/assets/img/logos/commerce.png")
          li.census
            a(href="http://www.census.gov")
              img(alt="Census Bureau Logo" src="/assets/img/logos/census.png")
        ul.footer-logos
          li.dol
            a(href="http://www.dol.gov/")
              img(alt="Deptartment of Labor Logo" src="/assets/img/logos/dol.png")
          li.bls
            a(href="http://www.bls.gov/")
              img(alt="Bureau of Labor Statistics Logo" src="/assets/img/logos/bls.png")
