footer.app-footer
  .usa-grid
    .footer-logos.col
      ul
        li.census
          a(href="http://www.census.gov")
            img(alt="Census Bureau Logo" src="/assets/img/logos/census.png")
        li.commerce
          a(href="https://www.commerce.gov/")
            img(alt="Deptartment of Commerce Logo" src="/assets/img/logos/commerce.png")
        li.pif
          a(href="https://pif.gov")
            img(alt="Presidential Innovation Fellows Logo" src="/assets/img/logos/pif.png")
        li.gsa
          a(href="https://gsa.gov")
            img(alt="General Services Adminstration Logo" src="/assets/img/logos/gsa.png")
    .footer-info.col
      .app-logo
        h1 MIDAAS
      .links
        a(href="https://github.com/CommerceDataService/midaas-website")
          i.fa.fa-github
          span.label GitHub
