nav.app-nav
  .usa-grid
    .logo
      h1.logotype MIDAAS
      .beta
        | Beta
    .app-links
      ul
        li
          a(href= "/")
            | Overview
        li
          a(href= "/simulator")
            | Simulator
