nav.app-nav
  .usa-grid
    .logo
      a(href="/")
        h1.logotype MIDAAS
        .beta
          | Beta
    .app-links
      ul
        li
          a(href= "/topics")
            | Topics
        li
          a(href= "/tools")
            | Tools
