.disclaimer
  .usa-grid
    span.usa-disclaimer-official
      img.usa-flag_icon(alt="US flag signifying that this is a United States Federal Government website" src="/assets/img/us_flag_small.png")
      | An official website of the United States Government
    </span>
    span.usa-disclaimer-stage
      | This site is currently in alpha.
      a(href="https://18f.gsa.gov/dashboard/stages/#alpha" target="_blank")
        | Learn More.
nav.app-nav
  .usa-grid
    .commerce-logo
      a(href="https://www.commerce.gov/")
        img(alt="Deptartment of Commerce Logo" src="/assets/img/logos/commerce.png")
    .logo
      .top
        a(href="/")
          h1.logotype MIDAAS
        .beta
          | Alpha
      .bottom.data-service
        | Commerce Data Service
    .app-links
      ul
        li
          a(href= "/topics")
            | Topics
        li
          a(href= "/developers")
            | Developers
