include ../modules/_head.jade
body.pages-simulator
  include ../modules/_nav.jade
  section.main-content
    .usa-grid
      .chart-widget.widget.primary-widget
        .widget-header
          h2 National Income Data
          p United States of America - 2012
        #chart.chart
        include ../modules/_chart-messages
        .gini-input
          input(class="slider-input" name="gini-coefficient-slider" type="range")
          .label-left.label
            | Less Distributed
          .label-right.label
            | More Distributed
