include ../modules/_head.jade
body.pages-simulator
  include ../modules/_nav.jade
  section.main-content
    .usa-grid
      .chart-widget.widget.primary-widget
        .widget-header
          h2 National Income Data
          p United States of America - 2012
        #chart.chart
