doctype html
html.no-js(lang='en')
  include ../modules/_head.jade
  body.pages-dashboard
    include ../modules/_nav.jade
    include ../modules/_dashboard-menu.jade
    section.main-content
      .usa-grid
        header
          h1 Dashboard
        #active-widget-container.widget-container
          .drop-area
