doctype html
html.no-js(lang='en')
  include ../../modules/_head.jade
  script.
    if (window.Ag == null) {
      window.Ag = {};
    }

    window.Ag.config = {
      chart1: {
        title: "National Income Data",
        type: "bar",
        interact: {
          type: "IncomeQuantilesCompare",
          query: {
            compare: "Sex",
            compareRegion: "US"
          },
          ui: {
            compare: false,
            compareRegion: false
          },
          connect: "chart2"
        }
      },
      chart2: {
        title: "National Income Data By State",
        type: "map",
        interact: {
          type: "IncomeQuantileGenderRatio",
          query: {
            compareQuantile: 50
          },
          ui: {
            compareQuantile: true
          }
        }
      },
      chart3: {
        title: "State Income Data",
        type: "bar",
        interact: {
          type: "IncomeQuantilesCompare",
          query: {
            compare: "Sex",
            compareRegion: "CA"
          },
          ui: {
            compare: false,
            compareRegion: true
          }
        }
      }
    };
  body.topics-gender
    include ../../modules/_nav.jade
    section.main-content
      .usa-grid
        header.page-header
          .navigation-tree
            a.back(href="/topics")
              | Topics
            | &nbsp;/&nbsp;Gender
          h1 Income-distribution by Gender
    section
      .usa-grid
        #chart1
    section
      .usa-grid
        #chart2
    section.state-data
      .usa-grid
        #chart3
