doctype html
html.no-js(lang='en')
  include ../../modules/_head.jade
  script.
    if (window.Ag == null) {
      window.Ag = {};
    }

    window.Ag.config = {
      chart1: {
        title: "National Income Data",
        type: "bar",
        dataRequester: {
          type: "IncomeQuantilesCompare",
          query: {
            compare: "sex",
            compareRegion: "US"
          }
        },
        ui: {
          compare: false,
          compareRegion: false
        }
      },
      chart2: {
        title: "Ratio of Male to Female Income by State",
        type: "map",
        dataRequester: {
          type: "IncomeQuantileRatio",
          query: {
            compare: "state",
            compareQuantile: 50,
            ratioType: "sex",
            ratioNumerator: "female",
            ratioDenominator: "male"
          }
        },
        ui: {
          compareQuantile: true
        },
        connect: "chart3"
      },
      chart3: {
        title: "{{state}} Income Data",
        type: "bar",
        dataRequester: {
          type: "IncomeQuantilesCompare",
          query: {
            compare: "sex",
            compareRegion: "CA"
          },
        },
        ui: {
          compare: false,
          compareRegion: true
        }
      }
    };
  body.topics-gender
    include ../../modules/_nav.jade
    section.main-content
      .usa-grid
        header.page-header
          .navigation-tree
            a.back(href="/topics")
              | Topics
            | &nbsp;/&nbsp;Gender
          h1 Income-distribution by Gender

        .chart-widget.widget.primary-widget
          #chart1
        .chart-widget.widget.primary-widget
          #chart2.map-chart
        .chart-widget.widget.primary-widget
          #chart3
    include ../../modules/_footer.jade
