doctype html
html.no-js(lang='en')
  include ../../modules/_head.jade
  script.
    if (window.Ag == null) {
      window.Ag = {};
    }

    window.Ag.config = {
      chart1: {
        title: "National Income Data Example",
        type: "bar",
        interact: {
          type: "IncomeQuantilesCompare",
          query: {
            compare: "Overall",
            compareRegion: "US"
          },
          ui: {
            compare: true,
            compareRegion: true
          }
        }
      }
    };
  body.tools-tool.tool-comparison-chart
    include ../../modules/_nav.jade
    section.main-content
      .usa-grid
        header
          h1 Comparison Chart
          p
            | Compare data by multiple dimensions.
        .col-lg
          #chart1
          .tool-description
            h2 Description
            p
              | Lorem ipsum Labore tempor fugiat Excepteur qui Excepteur occaecat.
              | Lorem ipsum Mollit veniam ut nulla aliqua consectetur deserunt
              | consequat deserunt enim cillum ex. Lorem ipsum Nisi laboris proident
              | incididunt ut in nulla nisi.
