.app-nav {
  background-color: $color-gray-dark;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

.beta {
  bottom: 0.4em;
  color: $color-gray-light;
  font-size: 0.8em;
  position: absolute;
  right: 0;
}

.app-links {
  float: right;
  font-size: 0.87em;
  font-weight: bold;

  a {
    color: lighten($color-gray-light, 20);
    padding: 0.8em;

    &:focus {
      box-shadow: none;
    }

    &.inactive {
      color: $color-gray-light;
    }

    &:hover {
      background-color: darken($color-gray-dark, 5);
      color: $color-white;
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
    margin-right: 1.25em;

    &::after {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      padding-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  ul {
    display: block;
    margin: 0;
  }
}

.logo {
  float: left;
  position: relative;
  width: 7.75em;

  a {
    text-decoration: none;
  }
}

.logotype {
  color: $color-gray-lightest;
  font-size: 1.75em;
  margin: 0;
}
