.app-nav {
  background-color: $color-gray-dark;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

.beta {
  bottom: 0.4em;
  color: $color-gray-light;
  font-size: 0.8em;
  position: absolute;
  right: 0;
}

.logo {
  position: relative;
  width: 9.2em;
}

.logotype {
  color: $color-gray-lightest;
  font-size: 1.75em;
  margin: 0;
}
