doctype html
html.no-js(lang='en')
  include ../modules/_head.jade
  body.pages-developers
    include ../modules/_nav.jade
    section.main-content
      .usa-grid
        .col-sm
          ul.usa-sidenav-list
            li
              a(href="#getting-started")
                | Getting Started
            li.parent-item
              a(href="#widgets-get-started")
                | Widgets
              ul.usa-sidenav-sub_list
                li
                  a(href="#widgets-get-started")
                    | Getting Started
                li
                  a(href="#widgets-bar-chart")
                    | Bar Chart
                li
                  a(href="#widgets-map")
                    | Map
            li.parent-item
              a(href="#api-get-started")
                | API
              ul.usa-sidenav-sub_list
                li
                  a(href="#api-get-started")
                    | Getting Started
                li
                  a(href="#api-examples")
                    | Examples
        .col-lg
          section#getting-started
            header
              h1 Developers
            p
              | Browse our collection of tools you can embed on your own websites.
          section#widgets
            header
              h2 Widgets
            p
              | These prebuilt visualization, which are linked to APIs, will
              | make it easier for developers of all skill to add rich income
              | insights to their page.
              | Below are two widgets for embedding barcharts and maps that pull
              | from our custom APIs.  More to come...
            section#widgets-bar-chart
              header
                h3 Bar Chart
              p
                | This tool allows users to explore income distributions across
                | different geographies by categories (Race, Gender, and Age
                | Groups).
                | Want to learn more about the income distribution in your home state or other states? This tool is for you.
                | Coming soon will be city data and exploration across
                | time.
              .chart-widget.widget.primary-widget
                #chart1
            section#widgets-map
              header
                h3 Map
              p
                | This tool allows users to explore income distributions across
                | the US at different percentiles by categories (Race, Gender, and Age
                | Groups). Want to know what the 1% is in different states?
                | Want to know what the median individual income is in different states?
                | This tool is for you. Coming soon will be city level maps as well and exploration across
                | time.
              .chart-widget.widget.primary-widget
                #chart2
          section#api-get-started
            header
              h2 API
            p
              | This API returns incomes of different percentiles for the overall population
              | for various geographies. In addition, you can make calls for different subsets
              | of the population based on race, gender, and agegroups. Please review documentation
              | on our github.

    include ../modules/_footer.jade
  script.
    if (window.Ag == null) {
      window.Ag = {};
    }

    window.Ag.config = {
      chart1: {
        title: "Explore Income Distributions",
        type: "bar",
        dataRequester: {
          type: "IncomeQuantilesCompare",
          query: {
            compare: "overall",
            compareRegion: "US"
          }
        },
        ui: {
          compare: true,
          compareRegion: true
        }
      },
      chart2: {
        title: "Explore Income Distribution Map",
        type: "map",
        dataRequester: {
          type: "IncomeQuantileRatio",
          query: {
            compare: "state",
            compareQuantile: 50,
            ratioType: "sex",
            ratioNumerator: "female",
            ratioDenominator: "male"
          }
        },
        ui: {
          compareQuantile: true
        }
      }
    };
