doctype html
html.no-js(lang='en')
  include ../modules/_head.jade
  body.pages-developers
    include ../modules/_nav.jade
    section.main-content
      .usa-grid
        .col-sm
          ul.usa-sidenav-list
            li
              a(href="#getting-started")
                | Getting Started
            li.parent-item
              a(href="#widgets-get-started")
                | Widgets
              ul.usa-sidenav-sub_list
                li
                  a(href="#widgets-get-started")
                    | Getting Started
                li
                  a(href="#widgets-bar-chart")
                    | Bar Chart
                li
                  a(href="#widgets-map")
                    | Map
            li.parent-item
              a(href="#api-get-started")
                | API
              ul.usa-sidenav-sub_list
                li
                  a(href="#api-get-started")
                    | Getting Started
                li
                  a(href="#api-examples")
                    | Examples
        .col-lg
          section#getting-started
            header
              h1 Developers
            p
              | Browse our collection of tools you can embed on your own websites.
          section#widgets
            header
              h2 Widgets
            p
              | These prebuilt visualizations, which harness Census APIs, will
              | make it easier for developers of all skill-levels to add rich income
              | insights to their sites.
              | Below are two widgets for embedding bar charts and maps that pull data
              | from our custom APIs. This is a work in progress, so more will come...
            section#widgets-bar-chart
              header
                h3 Bar Chart
              p
                | This visualization allows users to explore income distributions across
                | different geographies by categories (Race, Gender, and Age
                | Groups).
                | Want to learn more about the income distribution in your home state or other states? This tool is for you.
                | Coming soon will be city data and exploration across
                | time.
              .chart-widget.widget.primary-widget
                #chart1
              p(style="margin-bottom: 0;")
                b embed on your site:
              .code-block
                code
                  | &lt;link rel="stylesheet" href="https://midaas.commerce.gov/assets/css/midaas.css"&gt;<br />
                  | &lt;script src="https://midaas.commerce.gov/assets/js/midaas.js"&gt;&lt;/script&gt;<br />
                  | &lt;div id="chart1"&gt;&lt;/div&gt;<br />
                  | &lt;script&gt;<br />
                  | window.Ag.config = {"chart1":{"title":"Explore Income Distributions","type":"bar","dataRequester":{"type":"IncomeQuantilesCompare","query":{"compare":"overall","compareRegion":"US"}},"ui":{"compare":true,"compareRegion":true}}}<br />
                  | &lt;/script&gt;
            section#widgets-map
              header
                h3 Map
              p
                | This visualization allows users to explore income distributions across
                | the US at different percentiles by categories (Race, Gender, and Age
                | Groups). Want to know what the 1% is in different states?
                | Want to know what the median individual income is in different states?
                | This tool is for you. Coming soon will be city level maps as well and exploration across
                | time.
              .chart-widget.widget.primary-widget
                #chart2
              p(style="margin-bottom: 0;")
                b embed on your site:
              .code-block
                code
                  | &lt;link rel="stylesheet" href="https://midaas.commerce.gov/assets/css/midaas.css"&gt;<br />
                  | &lt;script src="https://midaas.commerce.gov/assets/js/midaas.js"&gt;&lt;/script&gt;<br />
                  | &lt;div id="chart2"&gt;&lt;/div&gt;<br />
                  | &lt;script&gt;<br />
                  | window.Ag.config = {"chart2":{"title":"Explore Income Distribution Map","type":"map","dataRequester":{"type":"IncomeQuantilesCompare","query":{"compare":"state","compareQuantile":50}},"ui":{"compare":true,"compareQuantile":true}}}<br />
                  | &lt;/script&gt;
          section#api-get-started
            header
              h2 API
            p
              | The MIDAAS API returns incomes of different percentiles for the overall population
              | over various geographies. In addition, you can make calls for different subsets
              | of the population based on race, gender, and agegroups.
            section#api-quantiles
              header
                h3(style="margin-bottom: 0px;")
                  | [GET] /income/quantile<small style="color: #999;">?[state=?][race=?][sex=?][agegroup=?][compare=?]</small>
              i returns the income amounts for each quantile
              .code-block(style="margin-top: 10px;")
                code
                  | curl https://brbimhg0w9.execute-api.us-west-2.amazonaws.com/dev/income/quantiles?state=CA<br />
                  | {<br />
                  | &nbsp;&nbsp;overall: {<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;5%: 400,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;10%: 4000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;20%: 10000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;30%: 16000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;40%: 23000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;50%: 30000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;60%: 40000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;70%: 52000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;80%: 71000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;90%: 100000,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;95%: 143200,<br />
                  | &nbsp;&nbsp;&nbsp;&nbsp;99%: 455000<br />
                  | &nbsp;&nbsp;}<br />
                  | }
            section#api-distribution
              header
                h3(style="margin-bottom: 0px;")
                  | [GET] /income/distribution<small style="color: #999;">?[state=?][race=?][sex=?][agegroup=?][compare=?]</small>
              i returns the income amounts for each quantile
              .code-block(style="margin-top: 10px;")
                code
                  | curl https://brbimhg0w9.execute-api.us-west-2.amazonaws.com/dev/income/distribution?state=CA&amp;race=white&amp;agegroup=26-35&amp;sex=male<br />
                  | {<br />
                  | &nbsp;&nbsp;$10.00k-$20.00k: 0.15619340014024805,<br />
                  | &nbsp;&nbsp;$0.00-$10.00k: 0.12184424812148269,<br />
                  | &nbsp;&nbsp;$40.00k-$50.00k: 0.09866641332711831,<br />
                  | &nbsp;&nbsp;$30.00k-$40.00k: 0.1299378999153864,<br />
                  | &nbsp;&nbsp;$150.00k-$160.00k: 0.008667766597727326,<br />
                  | &nbsp;&nbsp;$140.00k-$150.00k: 0.004545759000274755,<br />
                  | &nbsp;&nbsp;$100.00k-$110.00k: 0.025573397160318825,<br />
                  | &nbsp;&nbsp;$60.00k-$70.00k: 0.05845855642933399,<br />
                  | &nbsp;&nbsp;$320.00k-$330.00k: 0.0011215742774696848,<br />
                  | &nbsp;&nbsp;$50.00k-$60.00k: 0.07746859113594082,<br />
                  | &nbsp;&nbsp;$90.00k-$100.00k: 0.028085149427047096,<br />
                  | &nbsp;&nbsp;$70.00k-$80.00k: 0.04407698059355269,<br />
                  | &nbsp;&nbsp;$80.00k-$90.00k: 0.03376546863487802,<br />
                  | &nbsp;&nbsp;$190.00k-$200.00k: 0.001135243677560723,<br />
                  | &nbsp;&nbsp;$200.00k-$210.00k: 0.0031460124309524427,<br />
                  | &nbsp;&nbsp;$250.00k-$260.00k: 0.0022868906352306916,<br />
                  | &nbsp;&nbsp;$170.00k-$180.00k: 0.0020825331038696704,<br />
                  | &nbsp;&nbsp;$210.00k-$220.00k: 0.000624691584160446,<br />
                  | &nbsp;&nbsp;($10.00k)-$0.00: 0.00013601053090583014,<br />
                  | &nbsp;&nbsp;$230.00k-$240.00k: 0.0005686470437871893,<br />
                  | &nbsp;&nbsp;$420.00k-$430.00k: 0.00008475028056443686,<br />
                  | &nbsp;&nbsp;$20.00k-$30.00k: 0.15899152633888355,<br />
                  | &nbsp;&nbsp;$450.00k-$460.00k: 0.004974294693128802,<br />
                  | &nbsp;&nbsp;$110.00k-$120.00k: 0.008863922489033723,<br />
                  | &nbsp;&nbsp;$120.00k-$130.00k: 0.013690587661179313,<br />
                  | &nbsp;&nbsp;$240.00k-$250.00k: 0.00035062011233512997,<br />
                  | &nbsp;&nbsp;$130.00k-$140.00k: 0.008001383343289214,<br />
                  | &nbsp;&nbsp;$160.00k-$170.00k: 0.0033469526122907045,<br />
                  | &nbsp;&nbsp;$180.00k-$190.00k: 0.0020572447137012497,<br />
                  | &nbsp;&nbsp;$300.00k-$310.00k: 0.00008338334055533305,<br />
                  | &nbsp;&nbsp;$500.00k-$510.00k: 0.00022964592152944184,<br />
                  | &nbsp;&nbsp;$220.00k-$230.00k: 0.0006821030645428064,<br />
                  | &nbsp;&nbsp;$540.00k-$550.00k: 0.00005604454037325664,<br />
                  | &nbsp;&nbsp;$370.00k-$380.00k: 0.00009978662066457889,<br />
                  | &nbsp;&nbsp;$260.00k-$270.00k: 0.00006561312043698338,<br />
                  | &nbsp;&nbsp;$380.00k-$390.00k: 0.00003690738024580315<br />
                  | }
            section#api-params
              header
                h3
                  | query params
                b state
                br
                i the two-letter postal abbreviation
                .text-block(style="margin-top: 10px;")
                  code
                    | "AL", "AK", "AR", "AR", "CA", "CO", "CT", "DE",
                    | "DC", "FL", "GA", "HI", "ID", "IL", "IN", "IA",
                    | "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN",
                    | "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM",
                    | "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI",
                    | "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA",
                    | "WV", "WI", "WY"
                br
                b race
                br
                .text-block(style="margin-top: 10px;")
                  code
                    | "white",
                    | "african american",
                    | "hispanic",
                    | "asian"
                br
                b sex
                br
                .text-block(style="margin-top: 10px;")
                  code
                    | "male", "female"
                br
                b agegroup
                br
                .text-block(style="margin-top: 10px;")
                  code
                    | "0-15", "16-25", "26-35", "36-45", "46-55", "55-65", "65+"
                br
                b compare
                i field to compare against
                .text-block(style="margin-top: 10px;")
                  code
                    | "state", "race", "sex", "agegroup"


    include ../modules/_footer.jade
  script.
    if (window.Ag == null) {
      window.Ag = {};
    }

    window.Ag.config = {
      chart1: {
        title: "Explore Income Distributions",
        type: "bar",
        dataRequester: {
          type: "IncomeQuantilesCompare",
          query: {
            compare: "overall",
            compareRegion: "US"
          }
        },
        ui: {
          compare: true,
          compareRegion: true
        }
      },
      chart2: {
        title: "Explore Income Distribution Map",
        type: "map",
        dataRequester: {
          type: "IncomeQuantilesCompare",
          query: {
            compare: "state",
            compareQuantile: 50
          }
        },
        ui: {
          compare: true,
          compareQuantile: true
        }
      }
    };
