@include keyframes(slideCartridge) {

  from {
    @include transform(translateX(0));
  }

  to {
    @include transform(translateX(30%));
  }
}

@include keyframes(slideCartridgeClose) {

  from {
    @include transform(translateX(30%));
  }

  to {
    @include transform(translateX(0));
  }
}

@include keyframes(slideClose) {

  from {
    width: 87.5%;
  }

  to {
    width: 99%;
  }
}

@include keyframes(slideWidth) {

  from {
    width: 100%;
  }

  to {
    width: 87.5%;
  }
}
