doctype html
html.no-js(lang='en')
  include modules/_head.jade
  body.pages-home
    include modules/_nav.jade
    section.usa-hero
      video(src="assets/video/banner-video.mp4", autoplay="true", loop="true", width="100%")
      .content-container
        .usa-grid
          header
            h1 Income Across
              br
              strong America
            p Explore how income changes across geographies and demographics.
            ul.calls-to-action
              li.action
                a.usa-button.usa-button-outline(href="/topics")
                  | Browse Topics
              li.preposition
                | or
              li.action
                a.usa-button.usa-button-outline(href="/topics")
                  | Create A Story
