doctype html
html.no-js(lang='en')
  include modules/_head.jade
  body.pages-home
    include modules/_nav.jade
    section.usa-hero
      .usa-grid
        header
          h1 Income-Distribution
          p Discover tools and topics powered by Census data.
          a.usa-button(href="/topics")
            | Explore Topics
