doctype html
html.no-js(lang='en')
  - var pageTitle = 'MIDAAS | Making Income Data Accessible As a Service'
  include modules/_head.jade
  body.pages-home
    include modules/_nav.jade
    section.usa-hero
      video(autoplay="true" loop="true" title="Background Video of American Highways" controls)
        source(src="assets/video/banner-video.mp4")
      .content-container
        .usa-grid
          header
            h1 Income Across
              br
              strong America
            p Explore how income changes across geographies and demographics.
            ul.calls-to-action
              li.action
                a.usa-button.usa-button-outline(href="/topics")
                  | Browse Topics
              li.preposition
                | or
              li.action
                a.usa-button.usa-button-outline(href="/explore-data")
                  | Explore Data
    section.features
      .usa-grid
        header
          h1 View and Build Powerful Visualizations
          p.features-description
            | Income distribution in the United States is a complex issue that
            | everyone deserves the right to understand. This site democratizes
            | insights from open government data.
        .powered-by
          h2 Powered by Open Data From
          ul.data-sources
            li.census
              a(href="https://www.census.gov/programs-surveys/acs/data/pums.html")
                img(alt="Census Bureau Logo" src="/assets/img/logos/census-color.png")
            li.bls
              a(href="http://www.bls.gov/oes/#data")
                img(alt="Census Bureau Logo" src="/assets/img/logos/bls-color.png")

      ul.feature-list
        li
          a(href="/developers#api-get-started", style="text-decoration: none;")
            figure
              img(alt="API Icon" src="assets/img/feature-icons/api-icon.svg")
            h2 Powerful API
            p to accelerate new developments.
        li
          a(href="/topics", style="text-decoration: none;")
            figure
              img(alt="Browse Topics Icon" src="assets/img/feature-icons/topics-icon.svg")
            h2 Browse Topics
            p to take a deep dive into complex topics.
        li.in-progress
          figure
            img(alt="Create Visualizations Icon" src="assets/img/feature-icons/create-your-own-icon.svg")
          h2 Create Visualizations
          p to learn and share insights.
          p
            |[Coming Soon...]
        li
          a(href="/developers", style="text-decoration: none;")
            figure
              img(alt="Developer Tools Icon" src="assets/img/feature-icons/developer-tools-icon.svg")
            h2 Developer Tools
            p to accelerate the dissemination of data.
    include modules/_footer.jade
