doctype html
html.no-js(lang='en')
  include modules/_head.jade
  body.pages-home
    include modules/_nav.jade
    section.usa-hero
      video(src="assets/video/banner-video.mp4", autoplay="true", loop="true")
      .content-container
        .usa-grid
          header
            h1 Income Across
              br
              strong America
            p Explore how income changes across geographies and demographics.
            ul.calls-to-action
              li.action
                a.usa-button.usa-button-outline(href="/topics")
                  | Browse Topics
    section.features
      .usa-grid
        header
          h1 View and Build Powerful Visualizations
          p.features-description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            | posuere massa accumsan, pellentesque lectus eget, tempus est.
            | Etiam a cursus enim. Proin tempor augue eget justo fringilla.

      ul.feature-list
        li
          figure
            img(alt="API Icon" src="assets/img/feature-icons/api-icon.svg")
          h2 Powerful API
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        li
          figure
            img(alt="Browse Topics Icon" src="assets/img/feature-icons/topics-icon.svg")
          h2 Browse Topics
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        li.in-progress
          figure
            img(alt="Create Visualizations Icon" src="assets/img/feature-icons/create-your-own-icon.svg")
          h2 Create Visualizations
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        li
          figure
            img(alt="Create Visualizations Icon" src="assets/img/feature-icons/developer-tools-icon.svg")
          h2 Deverloper Tools
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    include modules/_footer.jade
