doctype html
html.no-js(lang='en')
  include modules/_head.jade
  body.pages-home
    include modules/_nav.jade
    section.usa-hero
      video(src="assets/video/banner-video.mp4", autoplay="true", loop="true")
      .content-container
        .usa-grid
          header
            h1 Income Across
              br
              strong America
            p Explore how income changes across geographies and demographics.
            ul.calls-to-action
              li.action
                a.usa-button.usa-button-outline(href="/topics")
                  | Browse Topics
    section.features
      .usa-grid
        header
          h1 View and Build Powerful Visualizations
          p.features-description
            | How income is distributed across the United States is a complex
            | issue that everyone deserves the right to understand. This site democratizes
            | insight from rich government open data.

      ul.feature-list
        li
          figure
            img(alt="API Icon" src="assets/img/feature-icons/api-icon.svg")
          h2 Powerful API
          p to accelerate new developments.
        li
          figure
            img(alt="Browse Topics Icon" src="assets/img/feature-icons/topics-icon.svg")
          h2 Browse Topics
          p to take a deep dive into complex topics.
        li.in-progress
          figure
            img(alt="Create Visualizations Icon" src="assets/img/feature-icons/create-your-own-icon.svg")
          h2 Create Visualizations
          p to learn and share insights. (Coming Soon...)
        li
          figure
            img(alt="Create Visualizations Icon" src="assets/img/feature-icons/developer-tools-icon.svg")
          h2 Developer Tools
          p to accelerate the dissemination of data.
    include modules/_footer.jade
