.widget-content
  h2 Create a Bar Chart
  ul.completion-bar
    li.data
    li.demographic
    li.geographic
ul.widget-attributes
  li.data-drop
    .placeholder
      i.fa.fa-database
  li.demographic-drop
    .placeholder
      i.fa.fa-users
  li.geographic-drop
    .placeholder
      i.fa.fa-map-marker

