.widget-content
  input.widget-title.editing(placeholder="Name This Widget" type="text" name="Widget Title")
  ul.completion-bar
    li.data
    li.demographic
    li.geographic
  .widget-edit
    .widget-remove
      i.fa.fa-trash
ul.widget-attributes
  li.data-drop.drop(data-type="data")
  li.demographic-drop.drop(data-type="demographic")
  li.geographic-drop.drop(data-type="geographic")
