doctype html
html.no-js(lang='en')
  include ../modules/_head.jade
  body.pages-tools
    include ../modules/_nav.jade
    section.main-content
      .usa-grid
        header
          h1 Tools
          p
            | Browse our collection of tools you can embed on your own websites.
        .col-lg
          ul.tools
            li.tool
              a(href="/tools/comparison-chart")
                .tool-header
                  h2 Comparison Chart
                  p Compare data by multiple dimensions.
                .container
                  img(src="/assets/img/chart-icons/chart-compare.svg")
              .tool-actions
                ul
                  li
                    a(href="/tools/comparison-chart")
                      i.fa.fa-eye
                  li
                    a(href="https://github.com/presidential-innovation-fellows/midaas-website", target="_blank")
                      i.fa.fa-github
                  li
                    a(href="#")
                      i.fa.fa-share-square-o
